.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 25 px;
}
.inputFecha{
    margin-top: 10px;
    border: solid 2px black;
}
.inputConcepto {
    margin-top: 10px;
    border: solid 2px black;
}
.inputMonto{
    margin-top: 10px;
    border: solid 2px black;
}
.labelFecha{
    font-size: 15px;
    margin-left: 25px;
    margin-right: 10px;
}
.labelConcepto{
    font-size: 15px;
    margin-left: 25px;
    margin-right: 10px;
}

.labelMonto{
    font-size: 15px;
    margin-left: 25px;
    margin-right: 10px;

}
.buttonGuardar {
    font-size: 15px;
    margin-left: 25px;
    margin-top: 15px;
}